* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-touch-action: manipulation;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }
